
<div class="box-container">
<mat-toolbar color="primary" class="box box-header">
    <button matTooltip="Toggle Query Builder" class="m-r-sm" mat-icon-button (click)="sidenav.toggle()"><i class="material-icons">menu</i></button>
    <div>GA4GH Discovery Search</div>
  </mat-toolbar>
  <mat-sidenav-container class="box box-content">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
        <mat-toolbar class="toolbar-white">
            <div>Query Builder</div>
        </mat-toolbar>
      <mat-toolbar style="background: none">
        <mat-toolbar-row>
            <button matTooltip="Show fields" style="display:inline" class="m-r-sm" mat-raised-button (click)="showFields()"><i class="material-icons">table_chart</i></button>
            <button matTooltip="Show Query JSON" style="display:inline" class="m-r-sm" mat-raised-button (click)="showJson(query)"><i class="material-icons">code</i></button>
            <span class="fill-space"></span>
            <!--button matTooltip="Show starred results" style="display:inline" mat-raised-button (click)="showCart($event)"><i class="material-icons">star</i></button-->
            <button matTooltip="Search" style="display:inline" class="m-l-sm" mat-raised-button color="{{view.queryChanged ? 'primary' : '' }}" (click)="doQuery(query)" [disabled]="view.isQuerying || !view.queryChanged"><i class="material-icons">search</i></button>
            <mat-spinner [diameter]="20" class="m-l-sm" *ngIf="view.isQuerying"></mat-spinner>
        </mat-toolbar-row>
        </mat-toolbar>
      <div class="clearfix"></div>
      <query-builder [(ngModel)]="query.where"
      (ngModelChange)="queryChanged($event)"
      [config]="config" *ngIf="config.fields" style="max-width:400px" class="m-s">

      <ng-container *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
        <button type="button" matTooltip="Add Rule" mat-icon-button color="primary" (click)="addRule()">
          <mat-icon>add</mat-icon></button>
          <button type="button" matTooltip="Add Ruleset" mat-icon-button color="primary" *ngIf="addRuleSet" (click)="addRuleSet()">
            <mat-icon>add_circle_outline</mat-icon></button>
            <button type="button" mat-icon-button matTooltip="Remove Ruleset" color="accent" *ngIf="removeRuleSet" (click)="removeRuleSet()">
              <mat-icon>remove_circle_outline</mat-icon></button>
            </ng-container>

            <ng-container *queryArrowIcon>
              <mat-icon ngClass="mat-arrow-icon">chevron_right</mat-icon>
            </ng-container>

            <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
              <button type="button" mat-icon-button matTooltip="Remove Rule" color="accent" (click)="removeRule(rule)">
                <mat-icon>remove</mat-icon>
              </button>
            </ng-container>

            <ng-container *querySwitchGroup="let ruleset; let onChange=onChange">
              <mat-radio-group *ngIf="ruleset" [(ngModel)]="ruleset.condition" (ngModelChange)="onChange($event)">
                <mat-radio-button [style.padding.px]="10" value="and">And</mat-radio-button>
                <mat-radio-button [style.padding.px]="10" value="or">Or</mat-radio-button>
              </mat-radio-group>
            </ng-container>

            <ng-container *queryField="let rule; let fields=fields; let onChange=onChange; let getFields = getFields">
              <mat-form-field>
                <mat-select [(ngModel)]="rule.field" (ngModelChange)="onChange($event, rule)">
                  <mat-option *ngFor="let field of getFields(rule.entity)"  [value]="field.value">
                    {{ field.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container *queryOperator="let rule; let operators=operators; let onChange=onChange">
              <mat-form-field [style.width.px]="90">
                <mat-select [(ngModel)]="rule.operator" (ngModelChange)="onChange()">
                  <mat-option *ngFor="let value of operators" [value]="value">
                    {{ value }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; type: 'phenotype'">
              <button mat-raised-button>Choose HPO Term(s)</button>
            </ng-container>

            <ng-container *queryInput="let rule; type: 'boolean'; let onChange=onChange">
              <mat-checkbox [(ngModel)]="rule.value" (ngModelChange)="onChange()"></mat-checkbox>
            </ng-container>

            <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'; let onChange=onChange">
              <mat-form-field>
                <mat-select [(ngModel)]="rule.value" (ngModelChange)="onChange()">
                  <mat-option *ngFor="let opt of options" [value]="opt.value">
                    {{ opt.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; type: 'date'; let onChange=onChange">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [(ngModel)]="rule.value" (ngModelChange)="onChange()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; let options=options; type: 'multiselect'; let onChange=onChange">
              <mat-form-field [style.width.px]="300">
                <mat-select [(ngModel)]="rule.value" multiple (ngModelChange)="onChange()">
                  <mat-option *ngFor="let opt of options" [value]="opt.value">
                    {{ opt.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; let field=field; type: 'number'; let onChange=onChange">
              <mat-form-field [style.width.px]="100">
                <input matInput [(ngModel)]="rule.value" type="number" (ngModelChange)="onChange()">
              </mat-form-field>
              {{field.units}}
            </ng-container>

            <!-- TODO: Improve -->
            <ng-container *queryInput="let rule; let field=field; type: 'json'; let onChange=onChange">
              <mat-form-field>
                <input matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
              </mat-form-field>
            </ng-container>

            <!-- TODO: Improve -->
            <ng-container *queryInput="let rule; let field=field; type: 'string'; let onChange=onChange">
              <mat-form-field>
                <input matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; let field=field; type: 'string[]'; let onChange=onChange">
              <mat-form-field>
                <input matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
              </mat-form-field>
            </ng-container>

            <ng-container *queryInput="let rule; let field=field; type: 'textarea'; let onChange=onChange">
              <mat-form-field>
                <textarea matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
                </textarea>
              </mat-form-field>
            </ng-container>

          </query-builder>
</mat-sidenav>
<mat-sidenav-content>
  
      <mat-toolbar class="toolbar-white" style="max-height: 63px">
        <mat-toolbar-row>
          <div>Search Results</div>
          <span class="fill-space"></span>
          <button mat-icon-button *ngIf="results" matTooltip="Wrap cell content" style="display:inline" (click)="view.wrapResultTableCells = !view.wrapResultTableCells" color="{{view.wrapResultTableCells ? '' : 'primary' }}"><mat-icon aria-label="Example icon-button with a heart icon">wrap_text</mat-icon></button>
          <mat-paginator *ngIf="results" #paginator
          [length]="1000"
          [pageSize]="query.limit"
          [pageSizeOptions]="[10, 50, 100]"
          (page)="pageEvent = paginationChanged($event)">
          </mat-paginator>
        </mat-toolbar-row>
      </mat-toolbar>

      <div *ngIf="!results" class="m-v" style="text-align:center; color: #bdbdbd">
          <div>
            <i class="material-icons" style="font-size: 100px !important">not_interested</i>
          </div>
          <div style="font-size: 16px !important">
            No search results
          </div>
        </div>

    <div *ngIf="results" class="m-v">
    <div id="results" class="mat-table m-s mat-elevation-z1" [ngClass]="{ 'no-wrap' : view.wrapResultTableCells }">
      <div class="mat-header-row">
        <div class="mat-header-cell" *ngFor="let field of results.fields">{{field.name}}</div>
      </div>
      <div class="mat-row" *ngFor="let result of results.results">
        <div class="mat-cell" *ngFor="let value of result.values" matTooltip="{{value.value}}">
          {{value.value}}
        </div>
      </div>
    </div>
    <div class="m-b"></div>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
</div>