<div mat-dialog-title>Fields</div>
<mat-toolbar style="background:none">
    <mat-toolbar-row>
      <div class="fill-space"></div>
      <button mat-icon-button matTooltip="Wrap cell content" style="display:inline" (click)="view.wrapFieldTableCells = !view.wrapFieldTableCells" color="{{view.wrapFieldTableCells ? '' : 'primary' }}"><mat-icon aria-label="Example icon-button with a heart icon">wrap_text</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
<div class="m-v">
  <table class="mat-table" [ngClass]="{ 'no-wrap' : view.wrapFieldTableCells }">
    <tr class="mat-header-row">
      <th class="mat-header-cell">Name</th>
      <th class="mat-header-cell">ID</th>
      <th class="mat-header-cell">Type</th>
      <th class="mat-header-cell">Specification</th>
      <th class="mat-header-cell">Options</th>
      <th class="mat-header-cell">Operators</th>
    </tr>
    <tr class="mat-row" *ngFor="let field of fields | keyvalue">
      <td class="mat-cell" matTooltip="{{field.value.name}}">{{field.value.name}}</td>
      <td class="mat-cell" matTooltip="{{field.value.id}}">{{field.value.id}}</td>
      <td class="mat-cell" matTooltip="{{field.value.type}}">{{field.value.type}}</td>
      <td class="mat-cell" matTooltip="{{field.value.spec}}"><a href="{{field.value.spec}}">{{field.value.spec}}</a></td>
      <td class="mat-cell" matTooltip="{{field.value.options}}">
        <span *ngFor="let option of field.value.options | keyvalue; let last = last">
          {{option.value.name}}{{last ? '' : ', '}}
        </span>
      </td>
      <td class="mat-cell" matTooltip="{{field.value.operators}}">
        <span *ngFor="let operator of field.value.operators; let last = last">
          {{operator}}{{last ? '' : ', '}}
        </span>
      </td>
    </tr>
  </table>
</div>
